.productCard {
    width: 16vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48 48 48);
    margin: 2vmax;
    transition: all 0.4s;
    padding-bottom: 0.5vmax;
    background: #fff;
    padding: 6px;
    border-radius: 3
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15 15 15 0.23);
    transform: translateY(-1vmax);
}